/* media query fold */
@media (max-width: 280px) {
	.select-container {
		margin: auto;
		width: 14rem !important;
	}
}

/* media query iphone12 */
@media (max-width: 390px) {
	.select-container {
		width: 18rem;
	}
	.select-option {
		font-size: 0.7rem;
	}
}

@media (max-width: 412px) {
	.select-container {
		width: 20rem;
	}
	.select-option {
		font-size: 0.6rem;
	}
}

@media (min-width: 425px) {
	.select-container {
		width: 25rem;
	}
	.select-option {
		font-size: 0.7rem;
	}
}

/* media query md */
@media (min-width: 768px) {
	.select-option {
		font-size: 0.6rem;
		width: 15px;
	}
}

/* media query xxl */
@media (min-width: 1200px) {
	.select-option {
		font-size: 1rem;
	}
}
