.card {
	width: 18rem;
	margin-right: 5rem;
}

/* media query fold */
@media (max-width: 280px) {
	.card {
		width: 16rem;
	}
}

@media (min-width: 425px) {
	.card {
		width: 24rem;
	}
}

@media (min-width: 540px) {
	.card {
		width: 24rem;
	}
}
/* media query md */
@media (min-width: 765px) {
	.card {
		width: 18rem;
	}
}

@media (min-width: 820px) {
	.card {
		width: 19rem;
	}
}

@media (min-width: 912px) {
	.card {
		width: 20rem;
	}
}

/* media query xxl */
@media (min-width: 1200px) {
	.card {
		width: 20rem;
	}
}
