@font-face {
	font-family: 'Royal-Acid';
	src: url('../../assets/fonts/Royal-Acid.ttf') format('truetype');
}

.nav-container {
	padding: 0.5rem 5rem !important;
}
.nav-container .title {
	font-size: 45px;
	text-transform: capitalize;
	font-family: 'Royal-Acid', sans-serif;
}
.menu {
	color: red !important;
}

.img-user {
	width: 46px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 5px;
	border: 3px solid;
}
@media (min-width: 280px) {
	.nav-container {
		padding: 0.4rem 1rem !important;
	}
	.nav-container .title {
		font-size: 20px;
		text-transform: capitalize;
		font-family: 'Royal-Acid', sans-serif;
	}
}

@media (min-width: 375px) {
	.nav-container {
		padding: 0.4rem 2rem !important;
	}
	.nav-container .title {
		font-size: 30px;
		text-transform: capitalize;
		font-family: 'Royal-Acid', sans-serif;
	}
}

@media (min-width: 414px) {
	.nav-container {
		padding: 0.4rem 2rem !important;
	}
	.nav-container .title {
		font-size: 35px;
		text-transform: capitalize;
		font-family: 'Royal-Acid', sans-serif;
	}
}

@media (min-width: 430px) {
	.nav-container {
		padding: 0.4rem 2rem !important;
	}
	.nav-container .title {
		font-size: 40px;
		text-transform: capitalize;
		font-family: 'Royal-Acid', sans-serif;
	}
}
