.footer-about {
	color: inherit;
	cursor: pointer;
}
/* media query fold */
@media (min-width: 280px) {
	.footer-sections {
		flex-direction: column;
	}
}

/* media query iphone12 */
@media (max-width: 390px) {
}

@media (max-width: 414px) {
}

@media (min-width: 425px) {
}

@media (min-width: 768px) {
	.footer-sections {
		flex-direction: row;
	}
}
